<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Teachers on Meach</h1>
<form method="post" action="/filter">
    <input type="text" name="filter">
    <button type="submit">Найти</button>
</form>
<div th:each="teacher : ${teachers}">
    <p th:text="${teacher.getUsername()}">empty</p>
</div>
</body>
</html>